.red{
    height: 115px;
    width: 115px;
    padding: auto;
    margin: 6px,10px;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    color:red;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}